<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shop Items</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'style/style.css' %}">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="item">
                        <img src="item1.jpg" alt="Item 1">
                        <div class="item-title">Item 1</div>
                        <div class="item-price">$19.99</div>
                        <button type="button" class="btn btn-primary mt-3">Select</button>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="item">
                        <img src="item2.jpg" alt="Item 2">
                        <div class="item-title">Item 2</div>
                        <div class="item-price">$29.99</div>
                        <button type="button" class="btn btn-primary mt-3">Select</button>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="item">
                        <img src="item3.jpg" alt="Item 3">
                        <div class="item-title">Item 3</div>
                        <div class="item-price">$14.99</div>
                        <button type="button" class="btn btn-primary mt-3">Select</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
